:root {
    --linklerin-rengi: #000;
}


@import url(reset.css);


* {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
}


.container {
    padding: 0 8%;
    min-height: 100vh;
}

.header {
    height: 7.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header .logo-section {
    padding-top: 3px;
}

.fa-bars {
    display: none;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
}
.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, #FF8A56 0%, #f5a582 100%);
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li a{
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
    background-color: #000;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
    background-color: #000;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
    background-color: #000;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

.nav-links {
    display: flex;
    gap: 25px;
}


.nav-links > a {
    color: var(--linklerin-rengi);
    text-decoration: none;
}

.nav-links a:hover {
    box-shadow: 5px 10px 12px rgba(0,0,0,.2);
    transform: scale3d(0.2);
    transition: all .7s ease-in;
    color: #949191;
}

.introduction {
    display: flex;
    justify-content: right;
    gap: 5px;
    flex-basis: 50%;
    padding-top: 70px; 
}
.introduction .left-side {
    flex-basis: 100%;
    padding-top: 70px;
}
.introduction .left-side > h1 {
    color:#FF8A56;
    font-size: 72px;
}

.introduction .left-side > span {
    font-size: 54px;
    font-weight: 700
}

.introduction .left-side > p {
    font-size: 20px;
    font-weight: 100;
    color: #666;
    width: 70%;
    padding-bottom: 10px;
}


.introduction .right-side {
    width: 60%;
    padding-left: 40px;
}
.download-cv {
    display: flex;
    align-items: center;
    gap: 20px;
}


.download-cv > button {
    padding: 1vw;
    width: 100px;
    height: 50px;
    align-items: center;
    background: #000;
    color: #fff;
    border:transparent;
    
}

.download-cv button:hover {
    cursor: pointer;
}

.download-cv >a {
    color: #000;
    text-decoration: none;
}

.download-cv a:hover {
    color: #ff43ec;
}


.introduction > .right-side img {
    max-width: 100%;
    object-fit: cover;
    flex-basis: 50%;
} 


.trusted-by-center {
    padding-bottom: 80px;
    padding-left: 180px;
}

.trusted-by-center .text-section p {
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: 700;
    padding-bottom: 80px;
    padding-right: 180px; 
}

.trusted-by-center .text-section p:hover {
    cursor: pointer;
    color: #3C46FF;
}

.trusted-by {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.slide {
    width: 20%;
}

.slide img {
    width: 80%;
}

.slide img:hover {
    box-shadow: 5px 10px 12px rgba(0,0,0,.2);
    transform: scale3d(0.2);
    transition: all .7s ease-in;
}

.services {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items:center ;
}

.services h6 {
    text-align: center;
    font-size: 35px;
    letter-spacing: 4px;
    color: #FF5E69;
    font-weight: 700; 
}

.services > h1 {
    text-align: center;
    font-size:70px;
}

.services-details {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service {
    display: flex;
    flex-direction: column;
    width: 32%;
    min-width: 200px;
    gap: 10px;
    padding: 40px;
    cursor: pointer;
}

.service img {
    width: 32px;
}


.service h3 {
    width: 80%;
    font-size: 2.4vw;
}
 .service p {
    width: 80%;
    font-size: 1.2vw;
} 

.service ul li {
    padding-top: 30px;
    width: 80%;
    font-size: 2vw;
    font-weight: 700;
    transform: translateX(9%);
}

.service:hover {
    box-shadow: 5px 10px 12px rgba(0,0,0,.2);
    transform: rotate(360deg);
    transition: all .7s ease-in;

}

.projects-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
}


.projects-text-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.projects-text-section h3 {
    color: #B16CEA;
    font-size: medium;
    padding-left: 10px;
}

.view-all-projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view-all-projects h1 {
    padding-left: 10px;
}

.view-all-projects button {
    width: 130px;
}

.view-all-projects button:hover {
    cursor: pointer;
    color: #3C46FF;
}


.projects-card-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 24px;
    padding-top: 40px;
    z-index: 4;
}

.projects-card-section .card {
    width: 30%;
    height: 305px;
    min-width: 200px;
    box-shadow: 10px 15px 12px rgba(0,0,0,.4);
    justify-content: flex-end;
}

.card .card-top {
    width: 100%;
    height: 305px;
}

.card .card-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .card-top img:hover {
    box-shadow: 5px 10px 12px rgba(0,0,0,.2);
    transform: scale3d(0.9);
    transition: all .7s ease-in;
}

.card .card-bottom {
    height: 163px;
    background: #ddd;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 10px;
}

.card .card-bottom a {
    text-decoration: none;
}

.view-all-projects button {
    background:#000;
    color: #fff;
    padding: 10px 12px;
}

.latest-blog-section {
    display: flex;
    background: #000;
    color: #fff;
    padding: 40px;
    margin-top: -40px;
    padding-top: 260px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.latest-blog-section .left-side {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.latest-blog-section .left-side h4 {
    color: #FFA84B;
}

.latest-blog-section .left-side small {
    color: #FFFFFF;
    font-size: 25px;
}


.latest-blog-section .left-side a {
    text-decoration: none;
    color: #fff;
}

.latest-blog-section .left-side a:hover {
    color: #3C46FF;
    box-shadow: 5px 10px 12px rgba(0,0,0,.2);
    transform: scale3d(0.2);
    transition: all .7s ease-in;
}


.arrow-section  {
    padding-top: 20px;
    display: flex;
    height: 54px;
    justify-content: flex-end;
}

.arrow-section button:hover {
    cursor: pointer;
    box-shadow: 5px 10px 12px rgb(71, 71, 71);
    transform: scale3d(0.2);
    transition: all .7s ease-in;
}

.latest-blog-section .right-side {
    flex: 1;
    min-width: 400px;
}

.blog {
    padding: 40px 80px 40px 0;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.blog a {
    color: #fff;
    text-decoration: none;
    
}

.latest-blog-section .right-side a:hover {
    color: #3C46FF;
    box-shadow: 5px 10px 12px rgba(0,0,0,.2);
    transform: scale3d(0.2);
    transition: all .7s ease-in;
}
 
.product-designer-section {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.product-design-section-text {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}
.product-design-section-text .left-side h4 {
    color: #FF5E69;
}

.product-design-section-text .left-side h2 {
    color: #000000;
    font-size: xx-large;
}
.product-design-section-text .left-side {
    flex-basis: 30%;
}

.product-design-section-text .right-side {
    flex-basis: 40%;
    color: #666666;
}

.pds-image {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

}
/* descendant selector */
.pds-image .left-side {
    width: 338px;
    height: 626px;
    min-width: 250px;
    flex-basis: 30%;
}

.pds-image .left-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pds-image .center {
    width: 507px;
    height: 626px;
    min-width: 250px;
    flex-basis: 30%;

}

.pds-image .center img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.pds-image .right-side {
    min-width: 250px;

    height: 626px;
    width: 338px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.right-side .rs-top {
    width: inherit;
    height: 305px;
}

.right-side .rs-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.right-side .rs-bottom {
    width: inherit;
    height: 305px;
}


.right-side .rs-bottom img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.pds-image img:hover {
    box-shadow: 5px 10px 12px rgba(0,0,0,.2);
    transform: scale3d(0.9);
    transition: all .7s ease-in;
}

.study-section {
    display: flex;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.study-section .left-side {
    flex-basis: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}

.study-section .left-side .school-top-section {
    border-bottom: 1px solid #E5E5E5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.study-section .left-side .school-top-section:hover {
    border-bottom: 1px solid #000;
    cursor: pointer;
}

.study-section .left-side .school-center-section {
    border-bottom: 1px solid #E5E5E5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.study-section .left-side .school-center-section:hover {
    border-bottom: 1px solid #000;
    cursor: pointer;
}

.study-section .left-side .school-bottom-section {
    border-bottom: 1px solid #E5E5E5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.study-section .left-side .school-bottom-section:hover {
    border-bottom: 1px solid #000;
    cursor: pointer;
}

.study-section .right-side .work-top-section {
    border-bottom: 1px solid #E5E5E5;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.study-section .right-side .work-top-section:hover {
    border-bottom: 1px solid #000;
    cursor: pointer;
}

.study-section .right-side .work-center-section {
    border-bottom: 1px solid #E5E5E5;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.study-section .right-side .work-center-section:hover {
    border-bottom: 1px solid #000;
    cursor: pointer;
}

.study-section .right-side .work-bottom-section {
    border-bottom: 1px solid #E5E5E5;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.study-section .right-side .work-bottom-section:hover {
    border-bottom: 1px solid #000;
    cursor: pointer;
}


.study-section  img:hover {
    box-shadow: 5px 10px 12px rgba(0,0,0,.2);
    transform: scale3d(0.9);
    transition: all .7s ease-in;
}

.news-section .title-section {
    padding-bottom: 40px;
}
.news-section .title-section h3 {
    color: #4353FF;
    font-size: 22px;
}

.news-section .title-section h1 {
    font-size: 54px;
}

.news-section .information-section {
    display: flex;
    justify-content: space-between;
}

.news-section .left-side {
    flex-basis: 50%;
}

.news-section .right-side {
    flex-basis: 50%;
}

.news-section .right-side .icon-section {
    padding-bottom: 20px;
}

.news-section .right-side .text-section {
    padding-bottom: 60px;
}

.news-section .right-side .about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news-section .right-side .about-section .name-section h4 {
    font-size: 20px;
}

.news-section .right-side .about-section .name-section h5 {
    font-size: 18px;
}


.news-section .right-side .about-section .arrow-icon-section {
    display: flex;
    width: 74px;
    height: 54px;
}

.news-section .right-side .about-section .arrow-icon-section:hover {
    cursor: pointer;
}

.news-section .right-side .about-section .arrow-icon-section button {
    background-color: #000;
}

.footer {
    padding: 0 8%;
    min-height: 100vh;
    background-color:#000;
    color: white;
}

.faq-section .text-section {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    align-items: center;
}

.faq-section .text-section h4 {
    color: #FF8A56;
}

.faq-section .blog-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.faq-section .left-side {
    flex-basis: 50%;
}

.faq-section .right-side {
    flex: 1;
}
.accordion-item{
    background-color: #000000;
    border-radius: .4rem;
    border-bottom: 1px solid #fff;
  }
  
  
  .accordion-link{
    font-size: 1.6rem;
    color: rgba(255,255,255,.8);
    text-decoration: none;
    background-color: #000000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
  }
  
  .accordion-link h3{
    font-weight:500;
    font-size: 20px;
  }

  
  .accordion-link div{
    display: block;
  }
  
  
  .answer{
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: #000;
    transition: max-height 650ms;
  }
  
  
  
  .answer small{
    color: #FF8A56;
    font-size: 18px;
    padding: 2rem;
  }
  .answer span {
    color: #fff;
  }
  .accordion-item:target .answer{
    max-height: 20rem;
  }
  

.footer .footer-about-section {
    padding-top: 150px;
}

.footer-about-section .text-section h2 {
    font-size: 54px;
}

 .footer-about-section .text-section h4{
    padding-top: 10px;
    padding-bottom: 150px;
    font-size: 45px;
    color: #3C46FF;
}


.footer-about-section .about-section {
    display: flex;
    justify-content: space-between;
}

.about-section .portfolio-creator-section {
    padding: 10px 10px;
}


.about-section .portfolio-creator-section:hover {
    cursor: pointer;
    box-shadow: 3px 8px 10px #fff;
    transform: scale3d(0.9);
    transition: all .7s ease-in;
}

.about-section .adress-section a{
    color: #666666;
    padding: 10px 2px;
    text-decoration: none;
}

.about-section .adress-section i {
    padding-left: 10px;
}

.about-section .adress-section:hover {
    cursor: pointer;
}

.about-section .gmail-section {
    display: flex;
    padding: 10px 10px;
    align-items: center;
    color: #666666;
}

.about-section .gmail-section:hover {
    cursor: pointer;
}

.about-section .right-side {
    display: flex;
    justify-content: space-between;
    gap: 150px;
}

.about-section .right-side h4:hover{
    cursor: pointer;
    box-shadow: 3px 8px 10px #fff;
    transform: scale3d(0.9);
    transition: all .7s ease-in;
    color: #3C46FF;
}

.about-section .right-side .nav-links-top h4 {
    display: flex;
    padding: 12px 12px;
}

.right-side .nav-links-center h4 {
    padding: 12px 12px;
}

.right-side .nav-links-bottom h4 {
    padding: 12px 12px;
}

.arr-section {
    display: flex;
    font-size: 17px;
    padding-top: 80px;
    color: #8A95AD;
    align-items: center;
}


@media (max-width:768px) {
    .fa-bars {
        display: flex;
        margin-left: 80%;
    }
    
    
    .nav-links {
        display: none;
    }

    .introduction .right-side {
        width: 100%;
        font-size: 400px;
    }

    .download-cv {
        flex-wrap: wrap;
    }

    .service  p{
        width: 100%;
        font-size: 17px;
        font-weight: 200;
    }

    .service h3 {
        width: 100%;
        font-size: 25px;
    }

    .service ul li {
        width: 100%;
        font-size: 20px;
    }


    .product-design-section-text {
        flex-direction: column;
    }

    .news-section .information-section .left-side {
        display: none;
    }

    .trusted-by .slide:nth-child(1) {
        width: 350px;
        height: 40px;
        align-items: center;
    }

    .trusted-by .slide:nth-child(2) {
        display: none;
    }

    .trusted-by .slide:nth-child(3) {
        display: none;
    }

    .trusted-by .slide:nth-child(4) {
        display: none;
    }
     

    .footer-about-section  .left-side{
        padding-right: 100px;
    }

    .arr-section h5{
        display: none;
    }

    .blog-section {
        font-size: 15px;
        flex-direction: column;
    }

}

@media (min-width:1400px) {
    img {
        font-size: 72px;
    }
}

@media(max-width:1286px) {
    .introduction {
        align-items: center;
        flex-wrap: wrap;
    }
    .introduction h1{
        width: 100%;
        font-size: 70px;
    }

    .introduction span{
        width: 100%;
        font-size: 30px;
    }
}