:root {
    --linklerin-rengi: #000;
}


@import url(reset.css);


* {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    /* outline: 1px solid red; */
}


.container {
    padding: 0 8%;
    min-height: 100vh;
}

.header {
    height: 7.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 20px;
}

.header .logo-section {
    padding-top: 3px;
}


.fa-bars {
    display: none;
}


.nav-links {
    color: #0087ca;
}

.nav-links>a {
    color: var(--linklerin-rengi);
    padding: 10px;
    margin-left: 5px;
    position: relative;
    text-decoration: none;

}

.nav-links>a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    border-bottom: 1px solid #000;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.25s ease-out;
}

.nav-links>a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.introduction {
    display: flex;
    justify-content: right;
    gap: 5px;
    flex-basis: 50%;
    padding-top: 70px;
}

.introduction .left-side {
    flex-basis: 100%;
    padding-top: 70px;
}

.introduction .left-side>h1 {
    color: #FF8A56;
    font-size: 54px;
}

.introduction .left-side>span {
    font-size: 54px;
    font-weight: 700
}

.introduction .left-side>p {
    font-size: 20px;
    font-weight: 100;
    color: #666;
    width: 70%;
    padding-bottom: 12px;
    padding-top: 9px;
}


.introduction .right-side {
    width: 60%;
    padding-left: 40px;
}

.download-cv {
    display: flex;
    align-items: center;
    gap: 20px;
}


.download-cv>button {
    padding: 1vw;
    width: 100px;
    height: 50px;
    align-items: center;
    background: #000;
    color: #fff;
    border: transparent;

}

.download-cv button:hover {
    cursor: pointer;
}

.download-cv>a {
    color: #000;
    text-decoration: none;
}

.download-cv a:hover {
    color: #ff43ec;
}


.introduction>.right-side img {
    max-width: 100%;
    object-fit: cover;
    flex-basis: 50%;
}


.trusted-by-center {
    padding-bottom: 80px;
    padding-left: 180px;
}

.trusted-by-center .text-section p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: 700;
    padding-bottom: 80px;
    padding-right: 180px;
}

.trusted-by-center .text-section p:hover {
    cursor: pointer;
    color: #3C46FF;
}

.trusted-by {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.slide {
    width: 20%;
}

.slide img {
    width: 80%;
}

.slide img:hover {
    box-shadow: 5px 10px 12px rgba(0, 0, 0, .2);
    transform: scale3d(0.2);
    transition: all .7s ease-in;
}

.services {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services h6 {
    text-align: center;
    font-size: 35px;
    letter-spacing: 4px;
    color: #FF5E69;
    font-weight: 700;
}

.services>h1 {
    text-align: center;
    font-size: 70px;
}

.services-details {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.service {
    display: flex;
    flex-direction: column;
    width: 32%;
    min-width: 200px;
    gap: 10px;
    padding: 40px;
    cursor: pointer;
}

.service img {
    width: 32px;
}


.service h3 {
    width: 80%;
    font-size: 2.4vw;
}

.service p {
    width: 80%;
    font-size: 1.2vw;
}

.service ul li {
    padding-top: 30px;
    width: 80%;
    font-size: 2vw;
    font-weight: 700;
    transform: translateX(9%);
}

.service:hover {
    box-shadow: 5px 10px 12px rgba(0, 0, 0, .2);
    transform: scale3d(0.9);
    transition: all .7s ease-in;

}

.projects-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
}


.projects-text-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.projects-text-section h3 {
    color: #B16CEA;
    font-size: medium;
    padding-left: 10px;
}

.view-all-projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view-all-projects h1 {
    padding-left: 10px;
}

.view-all-projects button {
    width: 130px;
}

.view-all-projects button:hover {
    cursor: pointer;
    color: #3C46FF;
}


.projects-card-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 24px;
    padding-top: 40px;
    z-index: 4;
}

.projects-card-section .card {
    width: 30%;
    height: 305px;
    min-width: 200px;
    box-shadow: 10px 15px 12px rgba(0, 0, 0, .4);
    justify-content: flex-end;
}

.card .card-top {
    width: 100%;
    height: 305px;
}

.card .card-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .card-top img:hover {
    box-shadow: 5px 10px 12px rgba(0, 0, 0, .2);
    transform: scale3d(0.9);
    transition: all .7s ease-in;
}

.card .card-bottom {
    height: 163px;
    background: #ddd;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 10px;
}

.card .card-bottom h5 {
    color: #3C46FF;
    letter-spacing: 4px;
    font-size: large;
}

.card .card-bottom a {
    text-decoration: none;
}

.view-all-projects button {
    background: #000;
    color: #fff;
    padding: 10px 12px;
}

.latest-blog-section {
    display: flex;
    background: #000;
    color: #fff;
    padding: 40px;
    margin-top: -40px;
    padding-top: 260px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.latest-blog-section .left-side {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.latest-blog-section .left-side h4 {
    color: #FFA84B;
}

.latest-blog-section .left-side small {
    color: #FFFFFF;
    font-size: 25px;
}


.latest-blog-section .left-side a {
    text-decoration: none;
    color: #fff;
}

.latest-blog-section .left-side a:hover {
    color: #3C46FF;
    box-shadow: 5px 10px 12px rgba(0, 0, 0, .2);
    transform: scale3d(0.2);
    transition: all .7s ease-in;
}


.arrow-section {
    padding-top: 20px;
    display: flex;
    height: 54px;
    justify-content: flex-end;
}

.arrow-section button:hover {
    cursor: pointer;
    box-shadow: 5px 10px 12px rgb(71, 71, 71);
    transform: scale3d(0.2);
    transition: all .7s ease-in;
}

.latest-blog-section .right-side {
    flex: 1;
    min-width: 350px;
    padding-right: 40px;
}

.blog {
    padding: 40px 80px 40px 0;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.blog a {
    color: #fff;
    text-decoration: none;

}

.latest-blog-section .right-side small {
    color: rgb(176, 173, 173);
}

.latest-blog-section .right-side a:hover {
    color: #3C46FF;
    box-shadow: 5px 10px 12px rgba(0, 0, 0, .2);
    transform: scale3d(0.2);
    transition: all .7s ease-in;
}

.product-designer-section {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.product-design-section-text {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.product-design-section-text .left-side h4 {
    color: #FF5E69;
}

.product-design-section-text .left-side h2 {
    color: #000000;
    font-size: xx-large;
}

.product-design-section-text .left-side {
    flex-basis: 30%;
}

.product-design-section-text .right-side {
    flex-basis: 50%;
    color: #666666;
    font-size: 20px;
    padding-top: 10px;
}

.pds-image {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

}

.pds-image .left-side {
    width: 338px;
    height: 626px;
    min-width: 250px;
    flex-basis: 30%;
}

.pds-image .left-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pds-image .center {
    width: 507px;
    height: 626px;
    min-width: 250px;
    flex-basis: 30%;

}

.pds-image .center img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.pds-image .right-side {
    min-width: 250px;

    height: 626px;
    width: 338px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.right-side .rs-top {
    width: inherit;
    height: 305px;
}

.right-side .rs-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.right-side .rs-bottom {
    width: inherit;
    height: 305px;
}


.right-side .rs-bottom img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.pds-image img:hover {
    box-shadow: 5px 10px 12px rgba(0, 0, 0, .2);
    transform: scale3d(0.9);
    transition: all .7s ease-in;
}

.study-section {
    display: flex;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.study-section .left-side {
    flex-basis: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}

.study-section .left-side .school-top-section {
    border-bottom: 1px solid #E5E5E5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.study-section .left-side .school-top-section:hover {
    border-bottom: 1px solid #000;
    cursor: pointer;
}

.study-section .left-side .school-center-section {
    border-bottom: 1px solid #E5E5E5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.study-section .left-side .school-center-section:hover {
    border-bottom: 1px solid #000;
    cursor: pointer;
}

.study-section .left-side .school-bottom-section {
    border-bottom: 1px solid #E5E5E5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.study-section .left-side .school-bottom-section:hover {
    border-bottom: 1px solid #000;
    cursor: pointer;
}

.study-section .right-side .work-top-section {
    border-bottom: 1px solid #E5E5E5;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.study-section .right-side .work-top-section:hover {
    border-bottom: 1px solid #000;
    cursor: pointer;
}

.study-section .right-side .work-center-section {
    border-bottom: 1px solid #E5E5E5;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.study-section .right-side .work-center-section:hover {
    border-bottom: 1px solid #000;
    cursor: pointer;
}

.study-section .right-side .work-bottom-section {
    border-bottom: 1px solid #E5E5E5;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.study-section .right-side .work-bottom-section:hover {
    border-bottom: 1px solid #000;
    cursor: pointer;
}


.study-section img:hover {
    box-shadow: 5px 10px 12px rgba(0, 0, 0, .2);
    transform: scale3d(0.9);
    transition: all .7s ease-in;
}

.testimonials-section .title-section {
    padding-bottom: 40px;
}

.testimonials-section .title-section h3 {
    color: #4353FF;
    font-size: 22px;
}

.testimonials-section .title-section h1 {
    font-size: 54px;
}

.testimonials-section .information-section {
    display: flex;
    justify-content: space-between;
}

.testimonials-section .left-side {
    flex-basis: 50%;
}

.testimonials-section .right-side {
    flex-basis: 50%;
}

.testimonials-section .right-side .icon-section {
    padding-bottom: 20px;
}

.testimonials-section .right-side .text-section {
    padding-bottom: 60px;
}

.testimonials-section .right-side .about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonials-section .right-side .about-section .name-section {
    flex-basis: 50%;
}

.testimonials-section .right-side .about-section .name-section h4 {
    font-size: 20px;
}

.testimonials-section .right-side .about-section .name-section h5 {
    font-size: 18px;
}

.testimonials-section .arrow-icon-section {
    display: flex;
}


.testimonials-section .right-side .about-section .arrow-icon-section img {
    display: flex;
    flex-basis: 50%;
}

.testimonials-section .right-side .about-section .arrow-icon-section:hover {
    cursor: pointer;
}

.testimonials-section .right-side .about-section .arrow-icon-section button {
    background-color: #000;
    display: flex;
    justify-content: center;
}


.footer {
    padding: 0 8%;
    min-height: 100vh;
    background-color: #000;
    color: white;
}

.faq-section .text-section {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    align-items: center;
}

.faq-section .text-section h4 {
    color: #FF8A56;
}

.faq-questions-section {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    color: white;
    size: 24px;
    font-size: 20px;
    line-height: 50px;
    letter-spacing: 0.3px;
}

.faq-left {
    padding-left: 10px;
    flex-basis: 49%;
}

.faq-right {
    padding-right: 10px;
    flex-basis: 49%;
}

.faq-left p {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    border-bottom: 1px solid #E5E5E54D;
}

.faq-right p {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    border-bottom: 1px solid #E5E5E54D;
}



.footer .footer-about-section {
    padding-top: 150px;
}

.footer-about-section .left-side {
    flex-basis: 50%;
}

.footer-about-section .text-section h2 {
    font-size: 54px;
}

.footer-about-section .text-section h4 {
    padding-top: 10px;
    padding-bottom: 150px;
    font-size: 45px;
    color: #3C46FF;
}


.footer-about-section .about-section {
    display: flex;
    justify-content: space-between;
}

.about-section .portfolio-creator-section {
    padding: 10px 10px;
}


.about-section .portfolio-creator-section:hover {
    cursor: pointer;
    box-shadow: 3px 8px 10px #fff;
    transform: scale3d(0.9);
    transition: all .7s ease-in;
}

.about-section .adress-section a {
    color: #666666;
    padding: 10px 2px;
    text-decoration: none;
}

.about-section .adress-section i {
    padding-left: 10px;
}

.about-section .adress-section:hover {
    cursor: pointer;
}

.about-section .gmail-section {
    display: flex;
    padding: 10px 10px;
    align-items: center;
    color: #666666;
}

.about-section .gmail-section:hover {
    cursor: pointer;
}

.about-section .right-side {
    display: flex;
    flex-basis: 50%;
    justify-content: space-between;
    gap: 150px;
}

.about-section .right-side h4:hover {
    cursor: pointer;
    color: #3C46FF;
}

.about-section .right-side .nav-links-top h4 {
    display: flex;
    padding: 12px 12px;
}

.right-side .nav-links-center h4 {
    padding: 12px 12px;
}

.right-side .nav-links-bottom h4 {
    padding: 12px 12px;
}

.arr-section {
    display: flex;
    font-size: 17px;
    padding-top: 80px;
    color: #8A95AD;
    align-items: center;
}


@media (max-width:500px) {
    .introduction .left-side {
        padding-left: 80px;
    }
    .fa-bars {
        display: flex;
    }

    .nav-links {
        display: none;
    }

    .footer-about-section .right-side {
        display: inline;
    }


    .testimonials-section .left-side img {
        height: 100%;
        width: 100%;
    }

    .testimonials-section .information-section {
        flex-direction: column;
    }

    .testimonials-section .right-side {
        width: 100%;
        font-size: 10px;
    }

    .information-section .right-side .arrow-icon-section {
        display: flex;
    }

    .study-section {
        flex-wrap: wrap;
    }

    .services  h1 {
        font-size: 30px;
    }

}



@media(max-width:501px) {
    .trusted-by :nth-child(2) {
        display: none;
    }

    .trusted-by :nth-child(3) {
        display: none;
    }

    .trusted-by :nth-child(4) {
        display: none;
    }

}

@media(max-width:814px) {
    .nav-links {
        display: none;
    }
}

@media(min-width:815px) {
    .fa-bars {
        display: none;
    }
}


@media (max-width:768px) {
    .fa-bars{
        display: flex;
        justify-content:flex-end;
        font-size: 24px;
    }
    .introduction .left-side{
        width: 100%;
        padding-left: 80px;
    }
    .introduction .right-side img{
        position: relative;
        left: 0%;
        top: 5%;
    }
    .services h6 {
        font-size: 40px;
    }
    .services  h1{
        right: 27%;
    }
    .services-details{
        padding-top: 20px;
    }
    .projects-section .left-side{
        position: relative;
        left: -5.7%;
    }
    .projects-card-section{
        display: flex;
        flex-wrap: wrap;
    }

    .projects-text-section {
        flex-wrap: wrap;
    }

    .latest-blog h4{
        position: relative;
        bottom: 170px;
    }
    .latest-blog small{
        position: relative;
        bottom: 160px;
    }
    
    .latest-blog .left-side a{
        position: relative;
        bottom: 180px;
    }
    .latest-blog .right-side{
        flex-direction: column;
        position: relative;
        left:12%;
        top: -120px;
    }
    .product-designer-section .product-design-section-text .right-side p{
        position: relative;
        left:10%;
        bottom: 20px;

    }
    .product-designer-section .left-side h4{
        position: relative;
        left: 40%;
        width: 40%;
        top: 5%;
    }
    .product-designer-section .left-side h2{
        position: relative;
        left: 38%;
        width: 45%;
        top: -1%;
    }
    .pds-image {
        flex-direction: column;
    }
    .pds-image :nth-child(1){
        width: 100%;
    }
    .pds-image :nth-child(2){
        width: 100%;
    }
    /* .column-img{
        width: 100%;
    } */
    .study-section{
        flex-direction: column;
        gap: 100px;
    }
    .study-section .left-side{
        width: 80%;
    }

    .study-section .right-side {
        width: 80%;
    }
    
    .study-section .work-experience {
        padding-right: 40px;
    }
    .testimonials-section .title-section h3 {
        position: relative;
    }
    .testimonials-section .title-section h1{
        position: relative;
    }
    .testimonials-section .right-side{
        width: 35%;
        left: -12%;
    }

    .testimonials-section .arrow-icon-section {
        display: flex;
    }

    .testimonials-section .left-side {
        display: none;
    }

    .name-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        left: -218%;
        top: 50%;
    }
    .about-section img{
        position: relative;
        left: -108%;
        top: 50%;
    }
    
    .faq-questions-section{
        flex-direction: column;
    }
    .faq-left{
        position: relative;
        right: 3%;
    }
    .faq-right{
        position: relative;
    }
    .questions-right-top p{
        position: relative;
        left: 5%;
    }
    .arrow-down-right img{
        position: relative;
        left: 10%;
    }
    .questions-left{
        width: 500%;
    }
    .footer-about-section .text-section{
        position: relative;
        right: 5%;
    }
    .footer-about-section .about-section .left-side{
        position: relative;
        right: 5%;
    }

    .footer-about-section .about-section .left-side .portfolio-creator-section {
        padding-left: 50%;
    }
    .footer-about-section .text-section h2{
        position: relative;
        font-size:xxx-large;
        display: flex;
    }

    .footer-about-section .right-side {
        display: inline;
    }
    .right-side .nav-links-top{
        position: relative;
        right: 100px;
        top: 10px;
        font-size: 18px;
    }
    .right-side .nav-links-center{
        position: relative;
        right: 100px;
        top: 10px;
        font-size: 18px;
    }
    .right-side .nav-links-bottom{
        position: relative;
        right: 100px;
        top: 10px;
        font-size: 18px;
    }

    .card-bottom a {
        padding-top: 25px;
    }
}

@media(min-width:1400px) {
    .fa-solid {
        display: none;
    }
}

@media(min-width:769px) {
    .fa-solid {
        display: none;
    }
}

@media(max-width:1145px) {
    .introduction {
        flex-wrap: wrap;
    }

    .projects-section {
        flex-wrap: wrap;
    }

    .projects-section .projects-text-section {
        align-items: center;
    }

    .projects-section h3 {
        justify-content: space-around;
        display: flex;
    }

    .services-details {
        flex-wrap: wrap;
    }

    .latest-blog .left-side {
        align-items: center;
    }

    .footer-about-section .right-side {
        display: inline;
    }
}

@media (max-width:768px) {
    .fa-bars {
        display: flex;
    }


    .nav-links {
        display: none;
    }

    .introduction .right-side {
        width: 100%;
        font-size: 400px;
    }

    .download-cv {
        flex-wrap: wrap;
    }

    .service p {
        width: 100%;
        font-size: 17px;
        font-weight: 200;
    }

    .service h3 {
        width: 100%;
        font-size: 25px;
    }

    .service ul li {
        width: 100%;
        font-size: 20px;
    }


    .product-design-section-text {
        flex-direction: column;
    }

    .trusted-by-center .text-section p {
        justify-content: center;
        font-size: 20px;
        width: 100%;
    }

    .trusted-by .slide:nth-child(1) {
        width: 340px;
        height: 50px;
        justify-content: center;
        align-items: center;
        padding-right: 30%;
    }

    .trusted-by .slide img {
        width: 340px;
        height: 50px;
        justify-content: center;
        align-items: center;
        padding-right: 40%;
    }

    .trusted-by .slide:nth-child(2) {
        display: none;
    }

    .trusted-by .slide:nth-child(3) {
        display: none;
    }

    .trusted-by .slide:nth-child(4) {
        display: none;
    }


    .footer-about-section .left-side {
        padding-right: 100px;
    }

    .arr-section h5 {
        display: none;
    }

    .blog-section {
        font-size: 15px;
        flex-direction: column;
    }

}

@media (min-width:1400px) {
    img {
        font-size: 72px;
    }
}

@media(max-width:1286px) {
    .introduction {
        align-items: center;
        flex-wrap: wrap;
    }

    .introduction h1 {
        width: 100%;
        font-size: 70px;
    }

    .introduction span {
        width: 100%;
        font-size: 30px;
    }
}